*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    li{
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}